@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Trey
   Date:   2/25/2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html{
   height: 100%;
   min-height: 100%;
}
body{
   width: 95%;
   range: 640px, 960px;
   margin: center;
}



/* CSS Grid Styles */
body{
   display: grid;
   grid-column: 25, 25, 25, 25;
}
img#logo{
   column-span: 2;
   width: 100%;
}





/* Horizontal Navigation List Styles */
footer{
   column-span: 4;
}
aside{
   column-span: 2;
}
li{
   display: block;
   width: 12.5%;
   float: left;
}
li.nav{
   display: block;
}


/* Section Styles */
img.section{
   width: 50%;
   margin: 0, auto, 0, auto;
}
p.section{
   width: 70%;
   margin: 0, auto, 0, auto;
}


/* Customer Comment Styles */
aside{
   width: 75%;

}
