@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Trey
   Date:   2/25/2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html{
   height: 100%;
   
}
body{
   width: 95%;
   range: 640px, 960px;
   margin: center;
   min-height: 100%;
}


/* CSS Grid Styles */
body{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
   display: block;
}
img#logo{
   grid-column: span 3;
   width: 100%;
}


/* Horizontal Navigation List Styles */
footer{
   grid-column: 1/ span 4;
}
aside{
   grid-column: 1/ span 2;
}
nav.horizontal{
   display: block;
   width: 12.5%;
   float: left;  
}


/* Section Styles */
img{
   width: 50%;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
p section{
   width: 70%;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}


/* Customer Comment Styles */
aside:nth-of-type(odd){
   width: 75%;
   padding-bottom: 30px;
   justify-self: right;
}
p.aside{
   width: 75%;
   margin-left: 5%;
   float: left;
}
aside#img{
   width: 20%;
}

